@import url(./global.css);

.button--back-to-top {
  position: fixed;
  bottom: 8px;
  right: 8px;
  transform: translateY(calc(100% + 20px));

  border: 1px solid var(--color--primary);
  border-radius: 100%;
  padding: 22px;
  background-color: var(--color--static-white);

  display: none;
}

@media all and (max-width: 768px) {
  .button--back-to-top {
    display: block;
  }
}

.button--back-to-top.active {
  transform: none;
}