@import url(../assets/fonts/Montserrat/fonts.css);
@import url(../assets/fonts/Allura/fonts.css);

:root {
  --container-width-max: 1276px;
  --box-small-width: 426px;

  --color--primary: #FF4646;
  --color--primary-10: #FF46461A;
  --color--dark: #181C29;
  --color--static-white: #fff;
  --color--static-white-40: #FFFFFF66;
  --color--static-white-20: #FFFFFF33;
  --color--tag-purple: #4361FF;
  --color--tag-pink: #FF43F7;
  --color--tag-green: #06A44F;
  --color--content-background: #ECF3F8;
  --color--overlay: #181C29CC;


  --border-radius-default: 20px;
}

* {
  box-sizing: border-box;
  padding: 0;
  margin: 0;
}

body {
  color: var(--color--dark);
}

nav * {
  list-style: none;
}

img {
  display: block;
}

/* ? Text Styles */

h1,
h2,
h3,
h4,
h5,
h6,
p,
span,
button,
a {
  font-family: 'Montserrat';
}

h1,
h2,
h3,
h4,
h5,
h6 {
  font-weight: 600;
  text-transform: uppercase;
}

p,
span,
button,
a {
  font-weight: 400;
}

h1 {
  font-size: 32px;
  line-height: 150%;
  letter-spacing: 0.18em;
}

h2 {
  font-size: 24px;
  line-height: 152%;
  letter-spacing: 0.16em;
}

h3 {
  font-size: 16px;
  line-height: 152%;
  letter-spacing: 0.08em;
}

h4 {
  font-size: 12px;
  line-height: 1.30em;
  letter-spacing: 5%;
}

p {
  font-size: 16px;
  font-weight: 400;
  line-height: 1.48em;
}

.typography--action-large {
  font-family: 'Montserrat';
  font-size: 24px;
  font-weight: 600;
  line-height: 1.52em;
  letter-spacing: 0.16em;
  text-transform: uppercase;
}

.typography--action-small {
  font-family: 'Montserrat';
  font-size: 12px;
  font-weight: 600;
  line-height: 130%;
  letter-spacing: 0.05em;
  text-transform: uppercase;
}

.typography--caption {
  font-family: 'Allura';
  font-size: 24px;
  font-weight: 400;
  line-height: 100%;
  letter-spacing: 0.05em;
}

.typography--slider-text {
  font-family: Montserrat;
  font-size: 80px;
  font-weight: 600;
  text-transform: uppercase;
}

a {
  text-decoration: none;
  color: inherit;
}

.color-tag--purple {
  color: var(--color--tag-purple);
}

.color-tag--green {
  color: var(--color--tag-green);
}

.color-tag--pink {
  color: var(--color--tag-pink);
}